{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Academy Events</h1>
    <p class="lead">A visualisation built in Flask by Richard Boland as part of the Data Science Accelerator Programme</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more about Flask &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start with a Trust</h2>
        <p>
            Pick your trust
        </p>

    </div>
    <div class="col-md-4">
        <h2>Start with a School</h2>
        <p>Pick your school</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">

    <div>Now what?</div>

</div>

{% endblock %}
